
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background: #fcf8ff;

    /* font-family: "Josefin Sans", sans-serif; */
    font-family: "Plus Jakarta Sans", sans-serif;
    
}

/* .root {
    --primary-color: #65249b;
} */

